---
---

<footer class="footer">
  <div class="footer__container">
    <a href="#" class="footer__policy" id="privacy-policy-link">Privacy Policy</a>
    <a href="/" class="footer__logo logo">
      <img src="/images/favicon.ico?v=1.4" alt="Omar Hernandez Favicon" />
    </a>
    <div class="footer__copyright">© 2025 Omar Hernandez – All Rights Reserved</div>
  </div>
</footer>
